@use '../../../scss/abstracts/variables' as *;

.header {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--border-color);

  &__logo {
    height: 2rem;
    padding: 0.8rem;
    background-color: var(--color-white);
  }
  &__user {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 4rem;
  }
}
